h2.section-title {
    padding-left: 0 !important;
    margin-left: 0 !important;
    text-align: left;
    color: #253342;
    font-weight: 700; /* Kalınlık: 700 = bold */
    margin-bottom: 1rem; /* mb-4 yerine */
    font-size: 2rem;
    padding: 20px;
}

.special{
    margin-top: 50px;
}
