.category-container {
    max-width: 1310px;
    margin: 0 auto; /* Ortalamak için */
    padding: 0 15px; /* Genel hizalama için */
  }
  
  .category-container .flex {
    display: flex;
    flex-wrap: nowrap; /* Kategorilerin hepsinin yan yana gelmesini sağlar */
    justify-content: space-between; /* Kategoriler arasındaki boşlukları eşitler */
    gap: 10px;
  }
  
  .category-container .category-item {
    padding: 16px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px; /* Kategorilerin genişliğini belirleyelim */
    height: 100px; /* Kategorilerin yüksekliğini belirleyelim */
  }
 
  .category-container img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
    object-fit: contain;
    border-radius: 50%; /* Resimleri dairesel yapar */
  }

  .category-container img:hover {
    box-shadow: 0px 0px 10px 10px #ffcb09; /* Resimlerin hover efektini artırır */
    transition: transform 0.3s ease;
  }
  
  .category-container img:hover {
    transform: scale(1.1); /* Resimlerin hover efektini artırır */
  }

  .category-container span {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-align: center;
  }


  /*
  .category-container img:hover {
  box-shadow: 0 0 30px 10px #ffcb09;
  transition: transform 0.3s ease;
}

box-shadow: X-offset Y-offset Blur Spread Color;
0 0: Gölgeyi X ve Y ekseninde ortalar (yani sola/sağa ya da yukarı/aşağı kayma yok).

30px: Blur (bulanıklık) – gölgeyi yumuşatır ve yayar.

10px: Spread – gölge boyutunu büyütür (etki alanı).

#ffcb09: Gölge rengi. 
  */
  