.container-header {
    width: 100%; /* Ekranın tamamını kapla */
    max-width: 1200px; /* Maksimum genişlik 1200px */
    margin: 0 auto; /* Ortalamak için otomatik kenar boşlukları */
    padding: 0 15px; /* Sol ve sağda 15px boşluk */
    box-sizing: border-box; /* Border ve padding'i toplam genişliğe dahil et */
}

.turkcell-icon {
    width: 30px; /* İkonun genişliği */
    height: 30px; /* İkonun yüksekliği */
    object-fit: contain; /* Resmin boyutlarını orantılı şekilde ayarla */
    border-radius: 50%; /* Yuvarlak köşeler için border-radius */
    cursor: pointer; /* Hover efekti için pointer işareti */
    transition: transform 0.3s ease; /* Animasyon eklemek için geçiş efekti */
}

.turkcell-icon:hover {
    transform: scale(1.1); /* Hover ile ikonu biraz büyüt */
}

.turkcell-text {
    height: 20px; /* Yükseklik */
    line-height: 20px; /* Satır yüksekliği ile metni dikey olarak ortala */
    color: #8e9fad; /* Yazı rengi */
    font-size: 13px; /* Yazı tipi boyutu */
    font-weight: 500; /* Yazı tipi kalınlığı */
    position: relative; /* İlerleyen stiller için konumlandırma */
    cursor: pointer; /* Hover efekti için pointer işareti */
    transition: color 0.3s ease; /* Yazı rengi değişimi için geçiş efekti */
}

.turkcell-text:hover {
    color: #ffcb09; /* Hover olduğunda renk değişimi */
}

nav, a {
    color: #253342;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    transition: color 0.3s ease; /* Yazı rengi değişimi için geçiş efekti */
}

nav:hover, a:hover {
    color: #ffcb09; /* Hover olduğunda renk değişimi */
}

.custom-btn {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #dee3ed;
    display: flex;
    align-items: center;
    padding: 0 32px 0 25px;
    box-sizing: border-box;
    color: #253342;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin: 0 5px;
}

.btn-basket {
    background-color: #ffcb09;
}

.btn-basket:hover {
    background-color: #ffcb09;
    color: #fff;
    transition: color 0.3s ease;
}

.btn-login {
    background-color: #fff;
}

.btn-login:hover{
    background-color: #fff;
    transition: color 0.3s ease;
}

.search-bar {
    max-width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #dee3ed;
    display: flex;
    align-items: center;
    padding: 0 32px 0 25px;
    box-sizing: border-box;
    color: #253342;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}